<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
  <h1 fxFlex class="title">
    nodebucket 101<br />
    <span class="subtitle">
      Facts about our task management application
    </span>
  </h1>
  <div class="about-content">
    <mat-divider></mat-divider>
    <div class="container">
      <div class="item">
        <p><strong>nodebucket</strong> is an employee management system where you can keep track of your tasks. It allows you
          to log in and view both the tasks that you have yet to complete as well as the ones that have already been
          completed. Not only does nodebucket give you the ability to view these tasks, it also allows you to create new
          ones, update them, and delete them.</p>
      </div>
      <div class="item"></div>
      <div class="item">
        <p><strong>nodebucket</strong> offers a simple and easy-to-use drag-and-drop system where you can quickly reorder your tasks. Once
          you’ve completed a task, you’re able to drag the task itself and drop it into the “done” column. That way you
          can efficiently change the status of your tasks without the hassle of having to type anything at all.</p>
      </div>
      <div class="item">
        <p><strong>nodebucket</strong> is great for employees needing to keep track of their tasks, but it’s also good for anyone who
          benefit from being able to do this as well. You don’t have to be an employee to use it. In fact, it’s extremely
          useful for those looking to better manage their time and visualize all of the things they need to get done
          within a certain time frame.</p>
      </div>
      <div class="item"></div>
      <div class="item">
        <p> <strong>nodebucket</strong> is built using something called the MEAN stack, which is basically a very efficient method of
          programming that utilizes four tried-and-true technologies within the web development world. With the help of
          MongoDB, Express, Angular, and Node.js the nodebucket application remains safe and simple, giving you peace of
          mind that all of your user-made content will be secure and easy to access at your convenience.</p>
      </div>
    </div>
  </div>
</div>
