<!--
  ============================================
; Title:  About.html
; Author: Alsaddig Ibrahim
; Date:   march 28 2020

; Description: part of nodebucket
;===========================================
-->
<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
  <h1 fxFlex class="title">
    nodebucket 101<br />
    <span class="subtitle">
      Facts about our task management application
    </span>
  </h1>
  <div class="about-content">
    <mat-divider></mat-divider>
    <br />
    <p class="mat-body-for">
      <span class="p-title mat-headline">ALWAYS BRING VALUE</span><br />


      We start by asking strategic questions and brainstorming alongside your team. Then we build an informed plan that gets your project where it needs to be, saving time and money on the path to wow.
    </p>
    <img src="assets/img/image1.jpg"><img src="assets/img/b2.jpg">
    <br />
    <span class="p-title mat-headline">ABOUT APP LAUNCHERS</span><br />
    <p>
    App Launchers was founded by a team of entrepreneurs who have collectively launched over 100+ apps.

      We’ve pulled together our top developers from our own personal projects, and now offer app development services.

      If we like your app idea, you’ll be able to select from a few service cost options, all geared to help you get to launch your mobile app quickly and efficiently.

      Our minimum app build costs $25,000 so please make sure you have adequate resources, if you are reaching out to discuss a project. Our philosophy is, do things right or don’t do them at all.


    </p>

    <!-- add image and attribution -->
    <br />
    <p class="mat-body-for">
      <span class="p-title mat-headline">Schedule</span><br />
      Details about nodebucket
      <br />
      <!-- 250 word minimum -->
    </p>
     <div ng-app="myApp" ng-controller="customersCtrl">

        <table>
          <tr ng-repeat="x in names">
            <th>day    </th>
            <th>Time   </th>
          </tr>
        </table>
      </div>

</div>

</div>
